---
const pageTitle = "about me";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/blog">blog</a>
        <h1>{pageTitle}</h1>
        <h2>... and my Astro website!</h2>
        <p>
            I am working through astro's introductory tutorial. This is my
            second page.
        </p>
        <p>
            This site will update as I complete more of the tutorial, so keep
            checking back.
        </p>
    </body>
</html>
