---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./pages/posts/*.md");
const pageTitle = "blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>Learning Astro</h1>
    <p>this is where i willl post about my journey learning astro.</p>
    <ul>
        {
            allPosts.map((post) => {
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                </li>;
            })
        }
    </ul>
</BaseLayout>
